.login{
    width: 30%;
    margin: auto;
    background-color: #ffffff;
    margin-top: 200px;
    border-radius: 10px 10px;
    box-shadow: 5px 5px 2px gray;
}
.login-form{
    margin-left: 100px;
    padding-bottom: 20px;
}

.header{
    margin-left: 112px;
    padding-top: 20px;
}

.login-btn{
    margin-top: 10px;
    background-color:blue;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
    color: white;
}

input{
    margin-bottom: 10px;
}

